
<h1 id="title">Products And Services In AI</h1>

<h2>Latest AI products</h2>
<ul>
  <li id="refract">Refract</li>
  <li id="vizai">Viz.AI</li>
  <li id="clincai">Clinc AI Platform</li>
  <li id="zignal">Zignal labs - Zignal API</li>
  <li id="vigilent">Vigilent - Dynamic Control</li>
</ul>
<!--div class = "startupdata">
<p>
<li href="https://www.refract.ai/"><strong>Refract</strong></a><em>Technical Edge</em></strong> of Performance Driven Sales Leaders</li>
<li href="https://www.viz.ai/">Viz.AI:Using AI to automatically identify and triage LVO Strokes</li>
<li href="https://clinc.com/">CLINC:Builds conversational AI Solutions for worlds leading institutions</li>
<li href="">Zignal labs:Paint holisitic picture of business and inform strategic decision making.</li>
<li href="">Vigilent: Automatic real time thermal management</li>
</p>
<img src="images/ai.jpg">
<a target="_blank"href="https://novatiosolutions.com/10-common-applications-artificial-intelligence-healthcare/">AI IN HEALTHCARE </a>
</div-->
